<body>
    <header>
        <!-- <div>
            <img src="../../../assets/img/logo.png" class="logo" alt="logo">
        </div> -->
        <div class="text-box">
            <h3 class="heading-primary">
                <span class="heading-primary__main">
                   E-School Management System
                </span>
                <span class="heading-primary__sub">
                  Welcome
                </span>
            </h3>
            <a type="button" class="btn btn-white btn-animated" data-toggle="modal" data-target="#login" style="font-size: medium">Login</a>
        </div>
    </header>
    <app-login></app-login>
</body>
