<!-- <body>
    <header class="example-container">
        <mat-toolbar color="primary" class="example-toolbar">
            <img style="height: 110%;" src="../assets/img/logo1.png" alt="Logo">
    
            <button mat-icon-button (click)="snav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
    </header>
    
    <mat-sidenav-container>
        <mat-sidenav #snav  style="width: 250px;">
            <app-sidebar></app-sidebar>
        </mat-sidenav>

        <mat-sidenav-content>
            <app-homepage></app-homepage>
        </mat-sidenav-content>
    </mat-sidenav-container>
</body> -->

<body>
    <header>
        <mat-toolbar color="primary" class="example-toolbar">
            <img style="height: 110%;" src="../assets/img/logo.png" alt="Logo">
            <button mat-icon-button (click)="snav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <app-homepage></app-homepage>
    </header>
    <mat-sidenav-container>
        <mat-sidenav #snav  style="width: 300px;">
            <app-sidebar></app-sidebar>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <app-login></app-login>
</body>

<!-- <app-sidebar></app-sidebar> -->