<div class="img bg-wrap text-center">
    <div class="user-logo">
        <img style="width:100px; height: 100px;" src="../../../assets/img/user.jpg" alt="user">
        <h3 class="my-3">Anh Anh</h3>
    </div>
</div>
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon class="mr-3">dashboard</mat-icon>
                Dashboard
            </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-stroked-button color="primary" class="btn btn-block">Next</button>
        <button mat-stroked-button color="primary" class="btn btn-block">Next</button>
        <button mat-stroked-button color="primary" class="btn btn-block">Next</button>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon class="mr-3">dashboard</mat-icon>
                Dashboard
            </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-stroked-button color="primary" class="btn btn-block">Next</button>
        <button mat-stroked-button color="primary" class="btn btn-block">Next</button>
        <button mat-stroked-button color="primary" class="btn btn-block">Next</button>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon class="mr-3">dashboard</mat-icon>
                Dashboard
            </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-stroked-button color="primary" class="btn btn-block">Next</button>
        <button mat-stroked-button color="primary" class="btn btn-block">Next</button>
        <button mat-stroked-button color="primary" class="btn btn-block">Next</button>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon class="mr-3">dashboard</mat-icon>
                Dashboard
            </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-stroked-button color="primary" class="btn btn-block">Next</button>
        <button mat-stroked-button color="primary" class="btn btn-block">Next</button>
        <button mat-stroked-button color="primary" class="btn btn-block">Next</button>
    </mat-expansion-panel>
</mat-accordion>